name: Build Custom UniDock Image
on: [push]

jobs:
  build-sif:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Singularity
        uses: sylabs/setup-singularity@v1
        with:
          singularity-version: 3.11.0  # 与北大集群版本接近

      - name: Create Definition File
        run: |
          cat > Singularity.def <<EOF
          Bootstrap: docker
          From: ubuntu:22.04
          %post
              apt-get update && apt-get install -y libgomp1 libstdc++6
          EOF

      - name: Build SIF
        run: singularity build unidock_final.sif Singularity.def

      - name: Upload SIF
        uses: actions/upload-artifact@v4
        with:
          name: unidock_final_image
          path: unidock_final.sif
